.social-icons {
    display: flex;
    justify-content: center;

    a {
        padding: 20px;
        cursor: pointer;
    }

    svg {
        font-size: 2rem;
        color: white;

        &:hover {
            color: var(--primary);
            transform: scale(1.1);
        }
    }
}