.home {
    position: relative;

    footer {
        position: absolute;
        bottom: -25%;
        color: white;
        left: 42%;
        transform: rotate(-25deg);
        font-family: var(--heading-font);
        font-size: .75rem;
    }

    blockquote {
        font-size: .8rem;
    }

    .social-links {
        margin-top: 130px;

    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}