nav {
    background: #0f0c29;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 65px;

    a {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--heading-font);
        text-decoration: none;
        color: white;
        transition: all 0.2s;
        text-transform: uppercase;
    }
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);

    .logo {
        max-width: 500px;

    }
}



.logo {
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;

    img {
        width: 75%;
        vertical-align: middle;
    }
}