.top-bar {
    .selected-menu {
        color: var(--primary);
        position: absolute;
        top: 20px;
        left: 10px;
        text-transform: uppercase;
        font-size: .8rem;

    }

    .toggle-btn {
        color: white;
        position: absolute;
        right: 10px;
        top: 15px;
        font-size: 1.5rem;
        z-index: 101
    }

    .nav-icon {
        width: 32px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 15px;
        z-index: 101;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        margin-right: 5px;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #ffffff;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2) {
                top: 10px;
            }

            &:nth-child(3) {
                top: 20px;
            }
        }

        &.open {
            top: 7px;
        }
    }


    .nav-icon.open span:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
    }

    .nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .nav-icon.open span:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
    }
}

.menu-wrapper {
    background: #0f0c29;
    min-height: 60px;


    .nav-menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        height: 0px;
        padding: 10px;
        overflow: hidden;
        transition: all 0.3s ease-out;
        opacity: 0;
        position: absolute;
        background: #0f0c29;
        width: 100%;
        z-index: 100;


        a {
            font-family: var(--heading-font);
            text-decoration: none;
            color: white;
            transition: all 0.2s;
            text-transform: uppercase;
            font-size: .75rem;

            &.active {
                color: var(--primary)
            }
        }

        img {
            width: 140px
        }


        &.expand {
            opacity: 1;
            transition: all 0.3s ease-out;
        }
    }

}

@media(min-width:992px) {
    .menu-wrapper {
        .top-bar {
            display: none;
        }

        .nav-menu {
            top: 0;
            width: 100%;
            transition: all 0.5s;
            position: relative;
            z-index: 2;
            height: 60px !important;
            margin: 0;
            padding: 0;
            grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
            grid-auto-rows: auto;
            text-align: center;
            align-items: center;
            height: 60px;
            opacity: 1;


        }

        .fixed-nav nav {
            position: fixed;

            //background: white;

            .logo {
                max-width: 500px;
                justify-self: start;
                margin-left: 10px;

            }
        }



        .logo {
            // max-width: 0;
            overflow: hidden;
            transition: all 0.5s;
            font-weight: 600;
            font-size: 30px;
            justify-self: start;
            margin-left: 10px;

            img {
                width: 180px;
                vertical-align: middle;
            }
        }
    }
}