.site-wrap {
    max-width: 700px;
    margin: 70px auto;
    background: white;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
    transform: scale(1);
}


header {
    height: 50vh;
    display: flex;
    //background: url('./assets/img/pic1.png') center center no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    position: relative;

    //background: linear-gradient(180deg, #888, #191414);
    &:after {
        content: "";
        position: absolute;
        background-color: blue;
        padding-bottom: 141.42136%;
        width: 100%;
        bottom: 0;
        left: 0;
        -webkit-transform: rotate(65.5deg);
        transform: rotate(65.5deg);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        z-index: -1;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .user-img {
        width: 250px;
        border-radius: 50%;
        box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, .5);
    }

    h1 {
        color: var(--white);
        font-size: 2rem;
    }

    h2 {
        color: var(--white);
        font-size: 1.5rem;
    }


}



.quote {
    blockquote {
        font-family: var(--quote-font);
        color: #FFA500;
        font-size: 2rem;
    }

    p {
        text-align: right;
    }
}