.project-sctn {
    width: 768px;
    margin: 0 auto;
    text-align: center;

}

.link-btn {
    border: 2px solid rgb(237, 248, 255);
    border-radius: 10px;
    color: #005C97;
    padding: 15px 35px;

}